 <style>
      select {
            display: block !important;
      }
 </style>
 
 <%# <meta http-equiv="Refresh" content="30"> %>
 <!-- Start Page Loading -->
      <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
      </div>
      <!-- End Page Loading -->
      <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START HEADER -->
     <%= render 'admin_restaurants/header' %>
      <!-- END HEADER -->
      <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START MAIN -->
      <div id="main">
            <!-- START WRAPPER -->
            <div class="wrapper">
                  <!-- START LEFT SIDEBAR NAV-->
                  <%= render 'admins/sidebar' %>
                  <!-- END LEFT SIDEBAR NAV-->
                  <!-- //////////////////////////////////////////////////////////////////////////// -->
                  <!-- START CONTENT -->
                  <section id="content">
                        <!--start container-->
                        <div class="container">
                              <!--card stats start-->
                              <div class="row">
                                    <div class="col s12">   
                                          <div class="card blue-grey darken-1">
                                                <div class="card-content white-text">
                                                <span class="card-title">Danh sách loại thức ăn</span>
                                                <%= link_to admin_loai_thuc_an_tao_moi_path, class: "waves-effect waves-light btn", method: :get do %>
                                                      <i class="material-icons left">add_box</i>Tạo
                                                <% end %>
                                                 <table class="centered" id="table-product-type">
                                                            <thead>
                                                            <tr>
                                                                  <th>#</th>
                                                                  <th>Tên</th>
                                                                  <th>Hành động</th>
                                                            </tr>
                                                            </thead>

                                                            <tbody id="product-type">
                                                                  <%= render partial: 'list_product_types' %>
                                                            </tbody>
                                                            </table>
            
                                          </div>
                                    </div>
                              </div>
                             
                              <!-- //////////////////////////////////////////////////////////////////////////// -->
                        </div>
                        <!--end container-->
                  </section>
                  <!-- END CONTENT -->
                  <!-- START RIGHT SIDEBAR NAV-->

                  <!-- END RIGHT SIDEBAR NAV-->
            </div>
            <!-- END WRAPPER -->
      </div>
      <!-- END MAIN -->
      <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START FOOTER -->
      <%= render 'admin_restaurants/footer' %>


<script>
$(document).ready(function() {
  $("#table-product-type").dataTable({
        pagingType: "simple",
        language: {
            paginate: {
                previous: "<",
                next: ">"
            }
        },
        responsive: true,
        language: {
              lengthMenu: "Hiển thị _MENU_ loại thức ăn mỗi trang",
              zeroRecords: "Không có loại thức ăn nào",
              info: "Đang hiện _PAGE_ trang trên _PAGES_",
              infoEmpty: "Không có loại thức ăn",
              search: "Tìm Kiếm:",
              paginate: {
                    first: "Đầu tiên",
                    last: "Cuối cùng",
                    next: "Tiếp theo",
                    previous: "Trở lại"
              }
        }
  });
});
</script>