<header class="header" style="background-image: none; height: 60px;">
            <div class="header-bar">
                  <nav>
                        <ul id="dropdownnavmenu" class="dropdown-content">
                              <% if logged_in? %>
                                    <li>
                                          <%= link_to "Quản lý thông tin cá nhân", edit_user_path(current_user)%>
                                    </li>
                                    <li>
                                          <%= link_to "Đăng xuất", logout_path, method: :delete%>
                                    </li>
                              <% end %>
                        </ul>
                        <div class="nav-wrapper">
                              <%= link_to 'Logo', root_path, class: 'brand-logo' %>
                              <a href="#" data-activates="mobile-demo" class="button-collapse">
                                    <i class="material-icons">menu</i>
                              </a>
                              <ul class="right hide-on-med-and-down">
                                    <li><%= link_to "Cửa hàng", cua_hang_path%></li>
                                    <% if logged_in? %>
            
                                          
                                    <li>
                                         <a class="dropdown-button" href="#" data-activates="dropdownnavmenu"><%= current_user.username%><i class="material-icons right">arrow_drop_down</i></a>
                                    </li>
                                    <% else %>
                                          <li>
                                                <%= link_to "Đăng nhập", login_path %>
                                           </li>
                                    <% end %>
                              </ul>
                        </div>
                  </nav>
                   <ul class="side-nav" id="mobile-demo">
                        <li>
                              <a href="sass.html">Cửa hàng</a>
                        </li>
                         <% if logged_in? %>
                              <li>
                                    <%= link_to "Đăng xuất", logout_path, method: :delete%>
                              </li>
                        <% else %>
                              <li>
                                    <%= link_to "Đăng nhập", login_path %>
                              </li>
                        <% end %>
                  </ul>
            </div>
      </header>


      <section id="login-form">
            <div class="container">
                  <div class="row justify-content-md-center mt-5">
                        <div class="col m5 s12 offset-m3">
                              <h1 class="text-login-form">Welcome back</h1>
                        </div>
                  </div>
                  <div class="row justify-content-md-center">
    <%= form_for(:session, url: login_path, :html => {:class => 'col s12 m6 offset-m3'})  do |f| %>

       <div class="row">
            <div class="input-field col s12">
                  <%= f.email_field :email, class: 'validate', :required => true, aria: {require: true}, oninvalid: "this.setCustomValidity('Nhập Email ở đây')", oninput: "this.setCustomValidity('')" %>
                  <%= f.label :email, "Email", data: {error: "Vui lòng kiểm tra lại định dạng"} %>
            </div>
      </div>

      <div class="row">
            <div class="input-field col s12">

            <%= f.password_field :password %>
            <%= f.label :password, "Password" %>
            <%= link_to "Quên mật khẩu", new_password_reset_path %>
            </div>
      </div>

    <p>
      <p>
            <input type="checkbox" id="remember_me" name="session[remember_me]" value="1" />
            <label for="remember_me">Nhớ tài khoản</label>
      </p>
      </p>
      <div class="row ">
      <%= f.submit "Đăng nhập", class: "btn waves-effect waves-light", style: "width: 100%" %>
      </div>
      <p>Nếu chưa có tài khoản, nhấn 
            <%= link_to "vào đây", signup_path %>
      </p>
      <%= link_to "/auth/facebook", id: "sign_in", style: "padding: 5px" do%>
            <%= image_tag 'facebook.svg', height: '50', width: '50'%>
      <% end %>
      <%= link_to "/auth/google_oauth2", style: "padding: 5px" do %>
            <%= image_tag 'search.svg', height: '50', width: '50'%>
      <% end %>
    <% end %>
      </div>

</div>

</section>
<%= render 'layout_extends/footer' %>