
 <%# <meta http-equiv="Refresh" content="30"> %>
 <!-- Start Page Loading -->
      <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
      </div>
      <!-- End Page Loading -->
      <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START HEADER -->
     <%= render 'admin_restaurants/header' %>
      <!-- END HEADER -->
      <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START MAIN -->
      <div id="main">
            <!-- START WRAPPER -->
            <div class="wrapper">
                  <!-- START LEFT SIDEBAR NAV-->
                  <%= render 'sidebar' %>
                  <!-- END LEFT SIDEBAR NAV-->
                  <!-- //////////////////////////////////////////////////////////////////////////// -->
                  <!-- START CONTENT -->
                  <section id="content">
                        <!--start container-->
                        <div class="container">
                              <!--card stats start-->
                              <div class="row">
                                    <div class="col s12">   
                                          <div id="admin" class="col s12">
                                                <div class="card material-table">
                                                      <div class="table-header">
                                                      <span class="table-title">Danh sách người dùng</span>
                                                      <div class="actions">
                                                      <%= link_to '<i class="material-icons">person_add</i>'.html_safe ,admin_danh_sach_nguoi_dung_tao_moi_path, class: "waves-effect btn-flat nopadding", method: :get  %>
                                                      <a class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
                                                      </div>
                                                      </div>
                                                      <table id="datatable" class="striped centered">
                                                      <thead>
                                                      <tr>
                                                            <th>Họ và tên</th>
                                                            <th>Email</th>
                                                            <th>Địa chỉ</th>
                                                            <th>Sđt</th>
                                                            <th>Chức danh</th>
                                                            <td></td>
                                                      </tr>
                                                      </thead>
                                                      <tbody>
                                                      <%= render 'list_user' %>
                                                      </tbody>
                                                      </table>
                                                </div>
                                                </div>
                                                </div>
                                    </div>
                              </div>
                             
                              <!-- //////////////////////////////////////////////////////////////////////////// -->
                        </div>
                        <!--end container-->
                  </section>
                  <!-- END CONTENT -->
                  <!-- START RIGHT SIDEBAR NAV-->

                  <!-- END RIGHT SIDEBAR NAV-->
            </div>
            <!-- END WRAPPER -->
      </div>
      <!-- END MAIN -->
      <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START FOOTER -->
      <%= render 'admin_restaurants/footer' %>


<script>
$(document).ready(function() {
          $('.search-toggle').click(function() {
      if ($('.hiddensearch').css('display') == 'none')
        $('.hiddensearch').slideDown();
      else
        $('.hiddensearch').slideUp();
    });
  $('#datatable').dataTable({
    "oLanguage": {
      "sStripClasses": "",
      "sSearch": "",
      "sSearchPlaceholder": "Enter Keywords Here",
      "sInfo": "_START_ -_END_ of _TOTAL_",
      "sLengthMenu": '<span>Rows per page:</span><select class="browser-default">' +
        '<option value="10">10</option>' +
        '<option value="20">20</option>' +
        '<option value="30">30</option>' +
        '<option value="40">40</option>' +
        '<option value="50">50</option>' +
        '<option value="-1">All</option>' +
        '</select></div>'
    },
    bAutoWidth: false
  });
});
</script>