 <div class="card comment-card mb-2">
       <div class="card-content">
             <h5 class="card-title">
                  <%= comment.user.username%>
                  <span style="float: right; background: red; padding: 10px; color: white; font-weight: bold;"><%= comment.rating %></span>
                  <% if logged_in? %>
                        <% if comment.user_id == current_user.id%>
                        <span><%= link_to "<i class='material-icons'>delete</i>".html_safe, comment_destroy_path(comment), method: :delete, data: {confirm: "Bạn có chắc chắn chứ?"}%></span>
                        <% end %>
                  <% end %>
             </h5>
             <h6 class="card-subtitle mb-2 text-muted"><%= comment.created_at.strftime('%d/%m/%y - %Hh:%Mp:%Ss')%></h6>
             <div class="divider"></div>
            <br>
            <h6 class="text-flow"><%= link_to comment.restaurant.name, restaurant_dat_mon_path(comment.restaurant.id) %></h6>
            <br>
             <p class="card-text"><%= comment.description %></p>
             <br />
            <div class="img-container lightgallery">
             <% comment.images.each do |image| %>
                       <a href='<%= rails_blob_url(image)%>'>
                              <%= image_tag image, alt: image.filename, height: "150", weight: "150" %>
                       </a>
                  <% end %>
            </div>
       </div>
</div>

