   <script>
      $(document).ready(function(){
            $(".button-collapse").sideNav();
      })
   </script>
      <% provide(:title, 'Trang chủ') %>
      <header class="header" style="height: 100% !important">
            <div class="header-bar">
                  <nav>
                        <ul id="dropdown1" class="dropdown-content">
                        <% if logged_in? %>
                              <li>
                                    <%= link_to "Quản lý thông tin cá nhân", edit_user_path(current_user)%>
                              </li>
                              <li>
                                    <%= link_to "Đăng xuất", logout_path, method: :delete%>
                              </li>
                        <% end %>
                        </ul>
                        <div class="nav-wrapper">
                              <%= link_to "CanTho Food",root_path, class: "brand-logo", style: "font-family: 'Playfair Display', serif;"%>
                                    
                              <a href="#" data-activates="mobile-demo" class="button-collapse">
                                    <i class="material-icons">menu</i>
                              </a>
                              <ul class="right hide-on-med-and-down">
                                    <li><%= link_to "Cửa hàng", cua_hang_path%></li>
                                    <% if logged_in?%>

                                          <% if current_user.role.id == 2 && !current_user.restaurant %>           
                                    <li>
                                          <%= link_to "Tạo Cửa hàng", new_restaurant_path %>
                                    </li>
                                          
                                          <% end %>
                                          
                                    <li>
                                         <a class="dropdown-button" data-activates="dropdown1"><%= current_user.username%><i class="material-icons right">arrow_drop_down</i></a>
                                    </li>
                                    <% else %>
                                          <li>
                                                <%= link_to "Đăng nhập", login_path %>
                                           </li>
                                    <% end %>
                              </ul>
                        </div>
                  </nav>
 
                  <ul class="side-nav" id="mobile-demo">
                        <li>
                              <%= link_to "Cửa hàng", cua_hang_path, method: :get%>
                        </li>
                         <% if logged_in? %>
                              <li>
                                    <%= link_to "Quản lý thông tin cá nhân", edit_user_path(current_user)%>
                              </li>
                              <li>
                                    <%= link_to "Đăng xuất", logout_path, method: :delete%>
                              </li>

                        <% else %>
                              <li>
                                    <%= link_to "Đăng nhập", login_path %>
                              </li>
                        <% end %>
                  </ul>
            </div>
 

            <div class="container background">
                  <div class="row">
                        <div class="col s6 left-background">
                              <h1>Chọn cửa hàng, đồ ăn sẽ đến bên bạn ngay.</h1>
                              <div>
                                    <%= link_to cua_hang_path, class: "waves-effect waves-light btn" do %>
                                          <i class="material-icons left">local_dining</i>Cửa hàng
                                    <% end %>
                              </div>
                        </div>
                  </div>
            </div>
      </header>

<section class="menu mb-5">
            <div class="container mt-5" style="width: 80%">
                  <div class="row">
                        <div class="col s12 m5">
                              <div class="blockHead"><span class="blocktext">Chúng tôi có những gì</span></div>
                        </div>
                  </div>
            </div>
            <div class="container mt-5 main-menu" style="width: 80%">
                  <div class="row">
                        <div class="col m4 s12">
                              <div class='img1'>
                                    <%= image_tag "menu1.jpg", class: "responsive-img"%>
                              </div>
                              <div class='text-below'>
                                    <h5>Thức ăn nhanh (tiếng Anh gọi là fast food), là thuật ngữ chỉ thức ăn có thể được chế biến và phục vụ cho người ăn rất nhanh chóng.</h5>
                                    <span>
                                          <a href="#">Xem thêm thức ăn nhanh →</a>
                                    </span>
                              </div>
                        </div>
                        <div class="col m4 s12">
                              <div class='img1'>
                                    <%= image_tag "menu3.jpg", class: "responsive-img"%>
                              </div>
                              <div class='text-below'>
                                    <h5>Ẩm thực Việt Nam là cách gọi của phương thức chế biến món ăn, nguyên lý pha trộn gia vị và những thói quen ăn uống nói chung của mọi người Việt trên đất nước Việt Nam.</h5>
                                    <span>
                                          <a href="#">Xem thêm thức ăn Việt →</a>
                                    </span>
                              </div>
                        </div>
                        <div class="col m4 s12">
                              <div class='img1'>
                                    <%= image_tag "menu2.jpg", class: "responsive-img"%>
                              </div>
                              <div class='text-below'>
                                    <h5>Trà sữa là loại thức uống đa dạng được tìm thấy ở nhiều nền văn hóa, bao gồm một vài cách kết hợp giữa trà và sữa</h5>
                                    <span>
                                          <a href="#">Xem thêm trà sữa →</a>
                                    </span>
                              </div>
                        </div>
                  </div>
                  <div class="row mt-5">
                        <div class="col m6 s12">
                              <div class="img2">
                                    <%= image_tag "menu4.jpg", class: "responsive-img"%>
                              </div>
                              <div class='text-below'>
                                    <h5>Bánh ngọt hay bánh ga-tô là một loại thức ăn thường dưới hình thức món bánh dạng bánh mì từ bột nhào, được nướng lên dùng để tráng miệng.</h5>
                                    <span>
                                          <a href="#">Xem thêm bánh ngọt →</a>
                                    </span>
                              </div>
                        </div>
                        <div class="col m6 s12">
                              <div class="img2">
                                    <%= image_tag "menu5.jpg", class: "responsive-img"%>
                              </div>
                              <div class='text-below'>
                                    <h5>Ẩm thực Nhật Bản là nền ẩm thực xuất xứ từ nước Nhật. Ẩm thực Nhật Bản không lạm dụng quá nhiều gia vị mà chú trọng làm nổi bật hương vị tươi ngon, tinh khiết tự nhiên của món ăn</h5>
                                    <span>
                                          <a href="#">Xem thêm món ăn Nhật →</a>
                                    </span>
                              </div>
                        </div>
                  </div>
            </div>
      </section>

<%# Section 2%>
   <section class="menu3">
        <div class="container" style="width: 80%">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="blockHead"><span class="blocktext">Cần thêm lựa chọn?</span></div>
                </div>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item text-menu3 mt-3 mb-3">
                    <a target="_blank" href="#">Chinese</a>
                </li>
                <li class="list-inline-item text-menu3 mt-3 mb-3">
                    <a target="_blank" href="#">italian</a>
                </li>
                <li class="list-inline-item text-menu3 mt-3 mb-3">
                    <a target="_blank" href="#">greek</a>
                </li>
                <li class="list-inline-item text-menu3 mt-3 mb-3">
                    <a target="_blank" href="#">thai</a>
                </li>
                <li class="list-inline-item text-menu3 mt-3 mb-3">
                    <a target="_blank" href="#">pizza</a>
                </li>
                <li class="list-inline-item text-menu3 mt-3 mb-3">
                    <a target="_blank" href="#">dessert</a>
                </li>
                <li class="list-inline-item text-menu3 mt-3 mb-3">
                    <a target="_blank" href="#">breakfast</a>
                </li>
                <li class="list-inline-item text-menu3 mt-3 mb-3">
                    <a target="_blank" href="#">american</a>
                </li>
                <li class="list-inline-item text-menu3 mt-3 mb-3">
                    <a target="_blank" href="#">mexican</a>
                </li>
                <li class="list-inline-item text-menu3 mt-3 mb-3">
                    <a target="_blank" href="#">lebanese</a>
                </li>
                <li class="list-inline-item text-menu3 mt-3 mb-3">
                    <a target="_blank" href="#">sushi</a>
                </li>
                <li class="list-inline-item text-menu3 mt-3 mb-3">
                    <a target="_blank" href="#">vegetarian</a>
                </li>
                <li class="list-inline-item text-menu3 mt-3 mb-3">
                    <a target="_blank" href="#">halal</a>
                </li>
            </ul>
        </div>
    </section>
<%# Section 3 %>

      <section class="menu4 mb-5">
            <div class="container" style="width: 80%">
                  <div class="row mb-5">
                        <div class="col m6 s12 mt-5">
                              <div class="blockHead"><span class="blocktext">Làm việc với chúng tôi</span></div>
                        </div>
                  </div>
                  <div class="row">
                        <div class=" col m6 s12 mb-2">
                              <div class="card">
                                    <div class="card-image">
                                          <%= image_tag "deliveryman.jpg", class: "responsive-img", alt: "deliveryman"%>
                                          <span class="card-title">Người giao hàng</span>
                                    </div>
                                    <div class="card-content">
                                          <p>
                                                Trở thành một người giao hàng để tận hưởng môi trường làm việc thoải mái xung quanh cuộc sống của bạn.
                                          </p>
                                    </div>
                                    <div class="card-action">
                                       <%= link_to 'Giao hàng cho chúng tôi', shipper_path, class: 'btn'%>
                                    </div>
                              </div>
                        </div>
                        <div class="col m6 s12 mb-2">
                              <div class="card">
                                    <div class="card-image">
                                          <%= image_tag "restaurant.jpg", class: "responsive-img", alt: "restaurant"%>
                                          <span class="card-title">Doanh nghiệp</span>
                                    </div>

                                    <div class="card-content">
                                          <p class="card-text">Cộng tác với chúng tôi để tiếp cận nhiều khách hàng hơn. Bạn chỉ việc lo thức ăn, việc vận chuyển hãy để chúng tôi.
                                          </p>

                                    </div>
                                    <div class="card-action">
                                          <%= link_to 'Đồng hành cùng chúng tôi', restaurantinfo_path, class: 'btn'%>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
<%= render 'layout_extends/footer' %>

<script>

</script>