      <header class="header">
            <div class="header-bar">
                  <nav>
                        <ul id="dropdown1" class="dropdown-content">
                        <% if logged_in? %>
                              <li>
                                    <%= link_to "Quản lý thông tin cá nhân", edit_user_path(current_user)%>
                              </li>
                              <li>
                                    <%= link_to "Đăng xuất", logout_path, method: :delete%>
                              </li>
                        <% end %>
                        </ul>
                        <div class="nav-wrapper">
                              <%= link_to 'Logo', root_path, class: 'brand-logo' %>
                              <a href="#" data-activates="mobile-demo" class="button-collapse">
                                    <i class="material-icons">menu</i>
                              </a>
                              <ul class="right hide-on-med-and-down">
                                    <% if logged_in?%>

                                          <% if current_user.role.id == 2 && !current_user.restaurant %>           
                                    <li>
                                          <%= link_to "Tạo Cửa hàng", new_restaurant_path %>
                                    </li>
                                          <% elsif current_user.role.id == 1%>
                                          <li><%= link_to "Cửa hàng", cua_hang_path%></li>
                                          <% end %>
                                          
                                    <li>
                                         <a class="dropdown-button" data-activates="dropdown1"><%= current_user.username%><i class="material-icons right">arrow_drop_down</i></a>
                                    </li>
                                    <% else %>
                                          <li>
                                                <%= link_to "Đăng nhập", login_path %>
                                           </li>
                                    <% end %>
                              </ul>
                        </div>
                  </nav>
 
                  <ul class="side-nav" id="mobile-demo">
                        <li>
                              <a href="sass.html">Cửa hàng</a>
                        </li>
                         <% if logged_in? %>
                              <li>
                                    <%= link_to "Đăng xuất", logout_path, method: :delete%>
                              </li>
                        <% else %>
                              <li>
                                    <%= link_to "Đăng nhập", login_path %>
                              </li>
                        <% end %>
                  </ul>
            </div>
 

            <div class="container background">
                  <div class="row">
                        <div class="col s6 left-background">
                              <h1>Your favourite restaurants, delivered fast to your door.</h1>
                              <div>
                                    <a class="waves-effect waves-light btn">
                                          <i class="material-icons left">local_dining</i>Cửa hàng</a>
                              </div>
                        </div>
                  </div>
            </div>
      </header>

<section class="menu mb-5">
            <div class="container mt-5" style="width: 80%">
                  <div class="row">
                        <div class="col s12 m5">
                              <h1>Có gì trong menu?</h1>
                        </div>
                  </div>
            </div>
            <div class="container mt-5 main-menu" style="width: 80%">
                  <div class="row">
                        <div class="col m4 s12">
                              <div class='img1'>
                                    <%= image_tag "menu1.jpg", class: "responsive-img"%>
                              </div>
                              <div class='text-below'>
                                    <h5>Pure indulgence that can turn an ordinary day into an unforgettable one. Comfort food
                                          its very best.</h5>
                                    <span>
                                          <a href="#">Xem thêm thức ăn nhanh →</a>
                                    </span>
                              </div>
                        </div>
                        <div class="col m4 s12">
                              <div class='img1'>
                                    <%= image_tag "menu3.jpg", class: "responsive-img"%>
                              </div>
                              <div class='text-below'>
                                    <h5>Pure indulgence that can turn an ordinary day into an unforgettable one. Comfort food
                                          its very best.</h5>
                                    <span>
                                          <a href="#">Xem thêm thức ăn Việt →</a>
                                    </span>
                              </div>
                        </div>
                        <div class="col m4 s12">
                              <div class='img1'>
                                    <%= image_tag "menu2.jpg", class: "responsive-img"%>
                              </div>
                              <div class='text-below'>
                                    <h5>Pure indulgence that can turn an ordinary day into an unforgettable one. Comfort food
                                          its very best.</h5>
                                    <span>
                                          <a href="#">Xem thêm trà sữa →</a>
                                    </span>
                              </div>
                        </div>
                  </div>
                  <div class="row mt-5">
                        <div class="col m6 s12">
                              <div class="img2">
                                    <%= image_tag "menu4.jpg", class: "responsive-img"%>
                              </div>
                              <div class='text-below'>
                                    <h5>Pure indulgence that can turn an ordinary day into an unforgettable one. Comfort food
                                          its very best.</h5>
                                    <span>
                                          <a href="#">Xem thêm bánh ngọt →</a>
                                    </span>
                              </div>
                        </div>
                        <div class="col m6 s12">
                              <div class="img2">
                                    <%= image_tag "menu5.jpg", class: "responsive-img"%>
                              </div>
                              <div class='text-below'>
                                    <h5>Pure indulgence that can turn an ordinary day into an unforgettable one. Comfort food
                                          its very best.</h5>
                                    <span>
                                          <a href="#">Xem thêm lẩu →</a>
                                    </span>
                              </div>
                        </div>
                  </div>
            </div>
      </section>

<%# Section 2%>
   <section class="menu2 mt-5 mb-5">
            <div class="container mb-5" style="width: 80%">
                  <div class="row">
                        <div class="col m6 s12 text-menu2">
                              <h3>Loved by you, delivered by us</h3>
                        </div>
                  </div>
            </div>
            <div class="container main-menu2 section" style="width: 80%">
                  <div class="row">
                        <div class="col m4 s12">
                              <div class='image-menu2'>
                                    <%= image_tag "menu6.jpg", class: "responsive-img"%>
                                    <h4 class="font-weight-bold">Mì cay</h4>
                                    <span>Pure indulgence that can turn an ordinary day into an unforgettable one. Comfort food
                                          its very best.</span>
                              </div>
                        </div>
                        <div class="col m4 s12">
                              <div class='image-menu2'>
                                   <%= image_tag "menu6.jpg", class: "responsive-img"%>
                                    <h4 class="font-weight-bold">Mì cay</h4>
                                    <span>Pure indulgence that can turn an ordinary day into an unforgettable one. Comfort food
                                          its very best.</span>
                              </div>
                        </div>
                        <div class="col m4 s12">
                              <div class='image-menu2'>
                                    <%= image_tag "menu6.jpg", class: "responsive-img"%>
                                    <h4 class="font-weight-bold">Mì cay</h4>
                                    <span>Pure indulgence that can turn an ordinary day into an unforgettable one. Comfort food
                                          its very best.</span>
                              </div>
                        </div>
                        <div class="col m4 s12">
                              <div class='image-menu2'>
                                    <%= image_tag "menu6.jpg", class: "responsive-img"%>
                                    <h4 class="font-weight-bold">Mì cay</h4>
                                    <span>Pure indulgence that can turn an ordinary day into an unforgettable one. Comfort food
                                          its very best.</span>
                              </div>
                        </div>
                        <div class="col m4 s12">
                              <div class='image-menu2'>
                                    <%= image_tag "menu6.jpg", class: "responsive-img"%>
                                    <h4 class="font-weight-bold">Mì cay</h4>
                                    <span>Pure indulgence that can turn an ordinary day into an unforgettable one. Comfort food
                                          its very best.</span>
                              </div>
                        </div>
                        <div class="col m4 s12">
                              <div class='image-menu2'>
                                    <%= image_tag "menu6.jpg", class: "responsive-img"%>
                                    <h4 class="font-weight-bold">Mì cay</h4>
                                    <span>Pure indulgence that can turn an ordinary day into an unforgettable one. Comfort food
                                          its very best.</span>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
<%# Section 3 %>

      <section class="menu4 mb-5">
            <div class="container" style="width: 80%">
                  <div class="row mb-5">
                        <div class="col m6 s12 text-menu2 mt-5">

                              <h3>Work with DeliverFoo</h3>
                        </div>
                  </div>
                  <div class="row">
                        <div class=" col m6 s12 mb-2">
                              <div class="card">
                                    <div class="card-image">
                                          <%= image_tag "deliveryman.jpg", class: "responsive-img", alt: "deliveryman"%>
                                          <span class="card-title">Shipper</span>
                                    </div>
                                    <div class="card-content">
                                          <p>Become a rider and enjoy the freedom to fit work around your life. Plus great fees,
                                                perks and discounts.
                                          </p>
                                    </div>
                                    <div class="card-action">
                                       <%= link_to 'Shipper with us', shipper_path, class: 'btn'%>
                                    </div>
                              </div>
                        </div>
                        <div class="col m6 s12 mb-2">
                              <div class="card">
                                    <div class="card-image">
                                          <%= image_tag "restaurant.jpg", class: "responsive-img", alt: "restaurant"%>
                                          <span class="card-title">Restaurants</span>
                                    </div>

                                    <div class="card-content">
                                          <p class="card-text">Partner with Deliveroo and reach more customers than ever. We handle delivery,
                                                so you can focus on the food.
                                          </p>

                                    </div>
                                    <div class="card-action">
                                          <%= link_to 'Partner with us', restaurantinfo_path, class: 'btn'%>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
<%= render 'layout_extends/footer' %>

<script>

</script>