 <tr>
        <td style="text-align: center"><%= link_to comment.restaurant.name, restaurant_trang_chu_path(comment.restaurant), method: :get, style: "color: blue" %></td>
        <td style="text-align: center"><%= comment.rating %></td>
        <td style="text-align: center"><%= comment.description %></td>
        <td style="text-align: center">
        <% if !comment.images.nil? %>
            <% comment.images.each do |image| %>
                <%= image_tag image, height: "50" %>
            <% end %>
        <% end %>
        </td>
         <td style="text-align: center">
            <%= link_to comment_admin_destroy_path(comment), method: :delete, class: "collection-item" do %>
                <i class="material-icons">delete_forever</i>
            <% end %>
       </th>
</tr>