
      <tr>
            <td style="text-align: center"><%= restaurant.name %></td>
            <td style="text-align: center"><%= restaurant.address %></td>
            <td style="text-align: center"><%= restaurant.phone %></td>
            <td style="text-align: center"><%= restaurant.timeopen.strftime('%H:%M') %></td>
            <td style="text-align: center"><%= restaurant.timeclose.strftime('%H:%M') %></td>
            <td style="text-align: center">
                  <%= link_to res_favorite_destroy_path(restaurant_id: restaurant.id), method: :delete, remote: true, class: "collection-item" do %>
                        <i class="material-icons">delete_forever</i>
                  <% end %>
            </td>
      </tr>