<header class="header" style="background-image: none; height: 60px;">
            <div class="header-bar">
                  <nav>
                        <ul id="dropdownnavmenu" class="dropdown-content">
                              <% if logged_in? %>
                                    <li>
                                          <%= link_to "Quản lý thông tin cá nhân", edit_user_path(current_user)%>
                                    </li>
                                    <li>
                                          <%= link_to "Đăng xuất", logout_path, method: :delete%>
                                    </li>
                              <% end %>
                        </ul>
                        <div class="nav-wrapper">
                              <%= link_to 'Logo', root_path, class: 'brand-logo' %>
                              <a href="#" data-activates="mobile-demo" class="button-collapse">
                                    <i class="material-icons">menu</i>
                              </a>
                              <ul class="right hide-on-med-and-down">
                              <li><%= link_to "Cửa hàng", cua_hang_path%></li>
                                    <% if logged_in? %>
                                          <% if current_user.role.id === 1 %>

                                          
                                          
                                          <% end %>
                                          
                                    <li>
                                         <a class="dropdown-button" href="#" data-activates="dropdownnavmenu"><%= current_user.username%><i class="material-icons right">arrow_drop_down</i></a>
                                    </li>
                                    <% else %>
                                          <li>
                                                <%= link_to "Đăng nhập", login_path %>
                                           </li>
                                    <% end %>
                              </ul>
                        </div>
                  </nav>
                   <ul class="side-nav" id="mobile-demo">
                        <li>
                              <a href="sass.html">Cửa hàng</a>
                        </li>
                         <% if logged_in? %>
                              <li>
                                    <%= link_to "Đăng xuất", logout_path, method: :delete%>
                              </li>
                        <% else %>
                              <li>
                                    <%= link_to "Đăng nhập", login_path %>
                              </li>
                        <% end %>
                  </ul>
            </div>
      </header>


 <section id="login-form">
            <div class="container" style="width: 60%">
                  <div class="row justify-content-md-center mt-5">
                        <div class="col m5 s12">
                              <h1 class="text-login-form">Welcome newbie</h1>
                        </div>
                  </div>
                  <div class="row justify-content-md-center">
            <%= form_for(@user, url: signup_path, :html => {:class => 'col s12'}, remote: true) do |f| %>

                  
                  
                  <div class="row">
                        <div class="input-field col s12">
                              <%= f.text_field :username, class: 'validate', :required => true, aria: {require: true}, oninvalid: "this.setCustomValidity('Nhập họ tên ở đây')", oninput: "this.setCustomValidity('')" %>
                              <%= f.label :username, "Họ và tên", data: {error: "Vui lòng kiểm tra lại"} %>
                        </div>
                  </div>


                  <div class="row">
                        <div class="input-field col s12">
                              <%= f.email_field :email, class: 'validate', :required => true, aria: {require: true}, oninvalid: "this.setCustomValidity('Nhập Email ở đây')", oninput: "this.setCustomValidity('')"%>
                              <%= f.label :email, "Email", data: {error: "Vui lòng kiểm tra lại định dạng"} %>
                        </div>
                  </div>

                  <div class="row">
                        <div class="input-field col s12">
                              <%= f.password_field :password,class: 'validate', :required => true, aria: {require: true}, oninvalid: "this.setCustomValidity('Nhập mật khẩu ở đây')", oninput: "this.setCustomValidity('')" %>
                              <%= f.label :password, "Mật khẩu",data: {error: "Vui lòng kiểm tra lại"} %>
                        </div>
                  </div>
                  
                  <div class="row">
                        <div class="input-field col s12">
                              <%= f.label :password_confirmation, "Xác nhận mật khẩu",data: {error: "Vui lòng kiểm tra lại"}  %>
                              <%= f.password_field :password_confirmation, :required => true, aria: {require: true}, oninvalid: "this.setCustomValidity('Nhập mật khẩu ở đây')", oninput: "this.setCustomValidity('')" %>
                        </div>
                  </div>

                  <div class="row">
                        <div class="input-field col s12">
                              <%= f.label :phone, "SĐT", data: {error: "Vui lòng kiểm tra lại"} %>
                              <%= f.phone_field :phone,  class: 'validate', :required => true, aria: {require: true}, oninvalid: "this.setCustomValidity('Nhập sđt ở đây')", oninput: "this.setCustomValidity('')" %>
                        </div>
                  </div>

                  <div class="row">
                        <div class="input-field col s12">
                              <%= f.label :address, "Địa chỉ", data: {error: "Vui lòng kiểm tra lại"}  %>
                              <%= f.text_field :address, class: 'validate', :required => true, aria: {require: true}, oninvalid: "this.setCustomValidity('Nhập địa chỉ ở đây')", oninput: "this.setCustomValidity('')" %>
                        </div>
                  </div>
                  <div class="row">
                        <div class="input-field col s12">
                              <%= f.collection_select :district_id, District.all, :id, :name,  {prompt: "Chọn Quận"}, class: 'validate', :required => true, aria: {require: true} %>
                              <label>Quận bạn sống</label>
                        </div>
                  </div>
                  <br>
                  
                  <%= f.hidden_field :role_id, value: 1 %>
                  <div class="row">
                  <%= f.submit "Tạo tài khoản", class: "btn waves-effect waves-light", style: "width: 100%;"%>
                  </div>
            <% end %>
            <p>Nếu đã có tài khoản, nhấn
                  <%= link_to "vào đây", login_path%>
            </p>
               </div>
            </div>
      </section>
<%= render 'layout_extends/footer' %>