  <style>
 </style> 
 <%# <meta http-equiv="Refresh" content="30"> %>
 <!-- Start Page Loading -->
      <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
      </div>
      <!-- End Page Loading -->
      <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START HEADER -->
     <%= render 'admin_restaurants/header' %>
      <!-- END HEADER -->
      <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START MAIN -->
      <div id="main">
            <!-- START WRAPPER -->
            <div class="wrapper">
                  <!-- START LEFT SIDEBAR NAV-->
                  <%= render 'sidebar' %>
                  <!-- END LEFT SIDEBAR NAV-->
                  <!-- //////////////////////////////////////////////////////////////////////////// -->
                  <!-- START CONTENT -->
                  <section id="content">
                        <!--start container-->
                        <div class="container">
                              <!--card stats start-->
                              <div class="row">
                                    <div class="col s12">   
                                          <div class="card blue-grey darken-1">
                                                <div class="card-content white-text">
                                                <span class="card-title">Danh sách đơn hàng đã hoàn tất</span>
                                                 <table class="centered" id="table">
                                                            <thead>
                                                            <tr>
                                                                  <th>Tên người mua</th>
                                                                  <th>SĐT</th>
                                                                  <th>Tổng tiền</th>
                                                                  <th>Cửa hàng</th>
                                                                  <th>Danh sách sản phẩm</th>
                                                                  <th>Ngày hoàn thành</th>
                                                            </tr>
                                                            </thead>

                                                            <tbody id="">
                                                                <% @orders.each do |order|%>
                                                                  <tr>
                                                                        <th style="text-align: center"><%= order.buyer.username %></th>
                                                                        <th style="text-align: center"><%= number_to_phone_vn(order.buyer.phone) %></th>
                                                                        <th style="text-align: center"><%= number_to_currency_vnd(order.total_all_price) %></th>
                                                                        <th style="text-align: center"><%= order.products.first.restaurant.name %></th>
                                                                        <th style="text-align: center">
                                                                             <div class="card">
                                                                                    <div class="card-content">
                                                                                          <span class="activator grey-text text-darken-4">Đơn hàng #<%= order.id %><i class="material-icons right">more_vert</i></span>
                                                                                    </div>
                                                                                    <div class="card-reveal">
                                                                                          <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                                                                                          <% order.line_items.each do |item|%>
                                                                                                <p style="color: black"><%= item.product.name %> x <%= item.quantity %></p>
                                                                                          <% end %>
                                                                                    </div>
                                                                              </div>
                                                                        </th>
                                                                        <th style="text-align: center">
                                                                              <%= order.updated_at.strftime('%e-%m-%C')%>
                                                                        </th>
                                                                  </tr>
                                                               <% end %>
                                                                  
                                                            </tbody>
                                                            </table>
            
                                          </div>
                                    </div>
                              </div>
                             
                              <!-- //////////////////////////////////////////////////////////////////////////// -->
                        </div>
                        <!--end container-->
                  </section>
                  <!-- END CONTENT -->
                  <!-- START RIGHT SIDEBAR NAV-->

                  <!-- END RIGHT SIDEBAR NAV-->
            </div>
            <!-- END WRAPPER -->
      </div>
      <!-- END MAIN -->
      <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START FOOTER -->
      <%= render 'admin_restaurants/footer' %>


<script>
$(document).ready(function() {
  $("#table").dataTable({
        pagingType: "simple",
        language: {
            paginate: {
                previous: "<",
                next: ">"
            }
        },
        responsive: true,
        language: {
              lengthMenu: "Hiển thị _MENU_ cửa hàng mỗi trang",
              zeroRecords: "Không có cửa hàng nào",
              info: "Đang hiện _PAGE_ trang trên _PAGES_",
              infoEmpty: "Không có cửa hàng",
              search: "Tìm Kiếm:",
              paginate: {
                    first: "Đầu tiên",
                    last: "Cuối cùng",
                    next: "Tiếp theo",
                    previous: "Trở lại"
              }
        }
  });
});
</script>