<div class="col m4 s12">
                              <div class="restaurant-card card" style="width: 100%;">
                                    <div class="card-image">
                                          <%= image_tag restaurant.image, class: "card-img-top", alt: restaurant.image.filename, style: "height: 200px;" %>
                                          <span class="card-title"><%= restaurant.name%></span>
                                          <span style="padding: 10px; background: red; color: black; float: right; color: white;"><%= restaurant.avg_rating %></span>
                                    </div>

                                    <div class="card-content">    
                                          <p><%= restaurant.description %></p>
                                          
                                          <p><%= restaurant.timeopen.strftime('%H:%M') %>  - <%= restaurant.timeclose.strftime('%H:%M') %></p>

                                    </div>
                                    <div class="card-action">
                                          <%= link_to "Đi đến cửa hàng",  restaurant_trang_chu_path(restaurant) , method: :get, class: "btn waves-effect waves-light", style: "width: 100%"%>
                                    </div>
                              </div>
                        </div>