      <script>
            $(document).ready(function(){
                  $('.dropdown-button').dropdown();
            })
      </script>
      <style>
            #loading{
                  margin-left: 30%;
                  margin-top: 10%;
                  width: 50%;
            }

      </style>
      
      <header class="header" style="background-image: none; height: 55%">
            <div class="header-bar">
                  <nav>
                        <ul id="dropdownnavmenu" class="dropdown-content">
                              <% if logged_in? %>
                                    <li>
                                          <%= link_to "Quản lý thông tin cá nhân", edit_user_path(current_user)%>
                                    </li>
                                    <li>
                                          <%= link_to "Đăng xuất", logout_path, method: :delete%>
                                    </li>
                              <% end %>
                        </ul>
                        <div class="nav-wrapper">
                              <%= link_to 'Logo', root_path, class: 'brand-logo' %>
                              <a href="#" data-activates="mobile-demo" class="button-collapse">
                                    <i class="material-icons">menu</i>
                              </a>
                              <ul class="right hide-on-med-and-down">
                                    <li><%= link_to "Cửa hàng", cua_hang_path%></li>
                                    <% if logged_in?%>
                                          
                                          
                                          
                                    <li>
                                         <a class="dropdown-button" data-activates="dropdownnavmenu"><%= current_user.username%><i class="material-icons right">arrow_drop_down</i></a>
                                    </li>
                                    <% else %>
                                          <li>
                                                <%= link_to "Đăng nhập", login_path %>
                                           </li>
                                    <% end %>
                              </ul>
                        </div>
                  </nav>
 
                  <ul class="side-nav" id="mobile-demo">
                        <li>
                              <%= link_to "Cửa hàng", cua_hang_path, method: :get%>
                        </li>
                         <% if logged_in? %>
                              <li>
                                    <%= link_to "Đăng xuất", logout_path, method: :delete%>
                              </li>
                        <% else %>
                              <li>
                                    <%= link_to "Đăng nhập", login_path %>
                              </li>
                        <% end %>
                  </ul>
                  <div class="background-list-restaurant">
                        <div class="container" style="width: 80%">
                              <div class="row">
                                    <nav>
                                          <div class="nav-wrapper">
                                                <div class="col s12">
                                                      <%= link_to "Home",root_path, class: "breadcrumb"%>
                                                      <%= link_to "Cửa hàng",cua_hang_path, class: "breadcrumb"%>
                                                </div>
                                          </div>
                                    </nav>
                              </div>
                              <div class="input-field col s12">
                                    <!-- Dropdown Trigger -->
                                    <a class='dropdown-button btn'  data-activates='dropdown1' >Chọn Quận</a>

                                    <!-- Dropdown Structure -->
                                    <ul id='dropdown1' class='dropdown-content'>
                                          <li>
                                                <%= link_to "Tất cả", cua_hang_path(:find_district => ""), remote: true, data: {disable_with: "Loading ....."}%>
                                          </li>
                                          <% District.all.each do |district|%>
                                          <li>
                                                <%= link_to district.name, cua_hang_path(:find_district => district.id), remote: true, data: {disable_with: "Loading ....."}%>
                                          </li>
                                          <% end %>
                                    </ul>
                              </div>
                              <div class="row">
                                    <div class="input-field col s12 m4">
                                          <a class='dropdown-button btn' data-activates='loaicuahang' style="width: 100%;">Chọn Loại Cửa Hàng</a>


                                          <ul id='loaicuahang' class='dropdown-content' style="width: 90%">
                                                <li>
                                                      <%= link_to "Tất cả", cua_hang_path(:find_district => ""), remote: true, data: {disable_with: "Loading ....."}%>
                                                </li>
                                                <% RestaurantType.all.each do |r| %>
                                               <li>
                                                     <%= link_to r.name, cua_hang_path(:find_type => r.id), remote: true, data: {disable_with: "Loading ....."}%>
                                               </li>
                                               <% end %>
                                          </ul>
                                    </div>
                                    
                                    <div class="input-field col s12 m4 offset-m4">
                                          <a class='dropdown-button btn' data-activates='sapxep' style="width: 100%;">Sắp xếp</a>


                                          <ul id='sapxep' class='dropdown-content' style="width: 90%">
                                                <li>
                                                      <%= link_to "Theo nhận xét", cua_hang_path(:order_rating => ""), data: {disable_with: "Loading ....."}%>
                                                </li>
                                                <li>
                                                     <%= link_to "Từ A - Z", cua_hang_path(:order_name => ""),remote: true, data: {disable_with: "Loading ....."}, id: "atoz"%>
                                                </li>
                                          </ul>
                                    </div>
                              </div>
                              <div class="row">
                                    <%= form_tag cua_hang_path,remote: true,method: :get,:id => 'form-search', remote: true, id: "search" do |f| %> 
                                          <div class="row">
                                                
                                                <div class="input-field col s10">
                                                            <%= text_field_tag :starts_with, params[:starts_with], :autocomplete => :off %>
                                                            <%= label_tag 'starts_with', 'Tìm kiếm'%>
                                                      </div>
                                                      <div class="input-field col s2">
                                                       
                                                            <%= button_tag(class: "btn", style: "width: 94%", id: "btn-search", data: {disable_with: "Loading ....."}) do %>
                                                                  <i class="material-icons">search</i>
                                                            <%end%>
                                                      </div> 
                                                </div>
                                                
                                          </div>
                                    <% end %>
                              </div>

                        </div>
                  </div>
            </div>
      </header>

      <main>

      <section class="list-restaurant">
            <div class="container" style="width: 80%">
                  <div class="row" > 
                        <div id="restaurants">
                              <% if @restaurant.nil? %>
                                    <%= render partial: "restaurant_item", collection: @restaurants, as: :restaurant, cache: true %>
                              <% else %>
                                    <p style="text-algin: center">Không có cửa hàng. Vui lòng quay lại sau</p>
                              <% end %>
                        </div>
                  </div>
                  <br>
                  <div class="row">
                        <div class="col s12 m3 offset-m5">
                        <%= paginate @restaurants %>
                  </div>
            </div>
      </section>
      <% if @coupon.nil? == false %>
      <div id="dbanner" class="change-color">
            <div class="dcontent">
            Chương trình đặt biệt khuyến mãi <strong><%= @coupon.amount%>%</strong> Với mã: <code><%= @coupon.code %></code> <span class="dtime">Hết hạn vào ngày:</span><span id="dcountdown"><%= @coupon.expiration.strftime('%d/%m/%Y') %></span>
            </div>
            <div id="dclose">close me!</div>
      </div>
      <% end %>
</main>
      <%= render 'layout_extends/footer' %>
