            <% provide(:title, "Đăng ký cửa hàng" ) %>
<%= render 'layout_extends/header' %>
      <section id="login-form">
            <div class="container">
                  <div class="row justify-content-md-center mt-5">
                        <div class="col-md-5 col-sm-12">
                              <h1 class="text-login-form">Welcome restaurant</h1>
                        </div>
                  </div>
                  <div class="row justify-content-md-center">
                        <%= form_for @restaurant, url: restaurant_create_path, :html => {:class => "col s12"}, remote: true do |f| %>
                              <%= render 'layout_extends/error', object: f.object %>
                              <div class="row">
                                    <div class="input-field col s12">
                                          <%= f.label :name, "Tên cửa hàng", data: {error: "Vui lòng kiểm tra lại"} %>
                                          <%= f.text_field :name,  class: 'validate', :required => true, aria: {require: true}, oninvalid: "this.setCustomValidity('Nhập tên ở đây')", oninput: "this.setCustomValidity('')"%>
                                    </div>
                              </div>


                              <div class="row">
                                    <div class="input-field col s12">
                                          <%= f.label :phone, "Số Điện Thoại", data: {error: "Vui lòng kiểm tra lại"} %>
                                          <%= f.phone_field :phone, class: "validate", class: 'validate', :required => true, aria: {require: true}, oninvalid: "this.setCustomValidity('Nhập sđt ở đây')", oninput: "this.setCustomValidity('')"%>
                                    </div>
                              </div>

                              <div class="row">
                                    <div class="input-field col s8">
                                          <%= f.label :address, "Địa chỉ", data: {error: "Vui lòng kiểm tra lại"} %>
                                          <%= f.text_field :address, class: 'validate', :required => true, aria: {require: true}, oninvalid: "this.setCustomValidity('Nhập địa chỉ ở đây')", oninput: "this.setCustomValidity('')"%>
                                    </div>
                                     <div class="input-field col s4">
                                          <%= f.collection_select :district_id, District.all, :id, :name,  {prompt: "Chọn Quận"}, class: 'validate', :required => true,aria: {require: true}  %>
                                          
                                    </div>
                              </div>

                              <div class="row">
                                    <div class="input-field col s12">
                                          <%= f.label :description, "Mô tả" %>
                                          <%= f.text_field :description%>
                                    </div>
                              </div>

                              <div class="row">
                                    <div class="input-field col s12">
                                          <%= f.collection_select :restaurant_type_id, RestaurantType.all, :id, :name,  {prompt: "Chọn loại cửa hàng"}, class: 'validate', :required => true,aria: {require: true} %>
                                    </div>
                              </div>

                              <div class="row">
                                    <div class="input-field col s12">
                                          <%= f.text_field :timeopen, class: "timepicker"%>
                                          <%= f.label :timeopen, "Thời gian mở cửa" %>
                                    </div>
                              </div>

                              
                              <div class="row">
                                    <div class="input-field col s12">
                                          <%= f.text_field :timeclose, class: "timepicker" %>
                                          <%= f.label :timeclose, "Thời gian đóng cửa"%>
                                    </div>
                              </div>

                              <div class="row">
                                    <div class="file-field input-field col s8">
                                          <div class="btn">
                                                <span>Hình đại diện</span>
                                                <%= f.file_field :image, :onchange => 'previewFile()'%>
                                          </div>
                                          <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text">
                                          </div>
                                    </div>
                                    <div class="input-field col s8">
                                         <img src="" id="preview-image">
                                    </div>
                              </div>
                              

                              <div class="row">
                                    <%= f.submit "Tạo cửa hàng", class: "btn waves-effect waves-light", style: "width: 100%"%>
                              </div>
                        <% end %>

                  </div>
            </div>
      </div>
</section>


<%= render 'layout_extends/footer' %>

<script>
     function previewFile() {
  var preview = document.querySelector('img');
  var file    = document.querySelector('input[type=file]').files[0];
  var reader  = new FileReader();

  reader.addEventListener("load", function () {
    preview.height = '100';
    preview.src = reader.result;
    $('#preview-image').click(function(){
          console.log(this);
    })
  }, false);

  if (file) {
    reader.readAsDataURL(file);
  }
}
</script>