
<script>
      $(document).ready(function(){
            $('.modal').modal();
      })
</script>
<body onload='showModal()'>   
     <%= render 'layout_extends/header' %>
     
      <section class="main-restaurant" style="padding-top: 5%;">
            <div class="container" style="width: 80%">
                  <div class="row">
                        <div class="col m8 s12">
                              <nav>
                                    <div class="nav-wrapper" >
                                          <div class="col s12">
                                                <%= link_to "Home", root_path, class: "breadcrumb"%>
                                                <%= link_to "Cửa hàng", cua_hang_path, class: "breadcrumb"%>
                                                <a class="breadcrumb"><%= @restaurant.name %></a>
                                          </div>
                                    </div>
                              </nav>
                              <div class="main-restaurant-text">
                                    <h1><%= @restaurant.name%><span style="float: right; background: red; padding: 10px; color: white;"><%= @restaurant.avg_rating %></span></h1>

                                    <div>
                                          <h6>Địa chỉ </h6><span><%= @restaurant.address %> - <%= @restaurant.district.name %> </span>
                                          <br />
                                          <h6>Phone</h6><span><%= number_to_phone(@restaurant.phone) %></span>
                                          <br />
                                          <h6>Loại</h6><span><%= @restaurant.restaurant_type.name %></span>
                                          <br />
                                          <% unless @restaurant.description.blank? %>
                                          <h6>Mô tả</h6><span><%= @restaurant.description%></span>
                                          <% end %>
                                    </div>
                              </div>
                        </div>
                        <div class="col m4 s12">
                              <div class="img-main-restaurant mt-2">
                                    <%= image_tag @restaurant.image, class: "responsive-img", width: "300", height: "300"%>
                              </div>
                              <div class="img-main-restaurant-text">
                                    <span>Mở cửa từ</span>
                                    <br>
                                    <span><%= @restaurant.timeopen.strftime('%H:%M') %>  - <%= @restaurant.timeclose.strftime('%H:%M') %></span>
                              </div>
                        </div>
                  </div>
            </div>
      </section>

            <section class="main-menu">
            <div>
                  <div class="row">
                        <div class="col s12 m6 offset-m1 ">
                              <h3>Menu</h3>
                        </div>
                  </div>
                  <div class="row" id="main-section">
                        <div class="col m2 s12">
                              <div class="collection fixed main-menu" id="main-menu">
                                    <%= link_to "Trang chủ", restaurant_trang_chu_path(@restaurant), class: "collection-item active "%>
                                    <%= link_to "Đặt món", restaurant_dat_mon_path(@restaurant), class: "collection-item"%>
                                    <%= link_to "Nhận xét", restaurant_comment_path(@restaurant), class: "collection-item"%>
                              </div>
                        </div>
                        <div class="col m10 s12">
                              <div class="menu-item mt-3">
                                    <div class="col s12 m12">
                                          <h5><div class="blockHead"><span class="blocktext">Menu</span></div></h5>
                                          <ul class="collection">
                                          <% @products.each do |p| %>
                                                <li class="collection-item avatar">
                                                      <%= image_tag p.image, class: "circle" %>
                                                      <span class="title"><%= p.name %></span>
                                                      <p><%= number_to_currency_vnd(p.price) %> <br>
                                                      <blockquote>
                                                      <%= p.description.truncate(100) %>
                                                      </blockquote>
                                                      </p>
                                                      <% if logged_in? %>
                                                            <%= link_to restaurant_dat_mon_path(@restaurant),class: "secondary-content" do %>
                                                                  <i class="material-icons">add_shopping_cart</i>
                                                            <% end %>
                                                      <% else %>
                                                             <a class="tooltipped secondary-content" data-position="bottom" data-tooltip="Bạn vui lòng đăng nhập">
                                                                 <i class="material-icons">add_shopping_cart</i> 
                                                             </a>
        
                                                      <% end %>
                                                </li>

                                          <% end %>
                                          <li>
                                          <%= link_to "Xem thêm và đặt hàng", restaurant_dat_mon_path(@restaurant), class: "btn", style: "width: 100%", method: :get%>
                                          </li>
                                          </ul>

                                    </div>
                              </div>
                        </div>
                        

                        <div class="col m10 s12 offset-m2">
                              <div class="menu-item mt-3">
                                    <div class="col s12 m12">
                                          <h5><div class="blockHead"><span class="blocktext">Nhận xét</span></div></h5>
                                          <%= link_to "Xem thêm nhận xét", restaurant_comment_path(@restaurant), class: "btn", style: "width: 100%"%>
                                          <% @comments.each do |comment| %>
                                                <div class="card comment-card mb-2">
                                                      <div class="card-content">
                                                            <h5 class="card-title">
                                                                  <%= comment.user.username%>
                                                                  <span style="float: right; background: red; padding: 10px; color: white; font-weight: bold;"><%= comment.rating %></span>
                                                            </h5>
                                                            <h6 class="card-subtitle mb-2 text-muted"><%= comment.created_at.strftime('%d/%m/%y - %Hh:%Mp:%Ss')%></h6>
                                                            <div class="divider"></div>
                                                            <br>
                                                            <h6 class="text-flow"><%= link_to comment.restaurant.name, restaurant_dat_mon_path(comment.restaurant.id) %></h6>
                                                            <br>
                                                            <p class="card-text"><%= comment.description %></p>
                                                            <br />
                                                            <div class="img-container lightgallery">
                                                            <% comment.images.each do |image| %>
                                                                  <a href='<%= rails_blob_url(image)%>'>
                                                                              <%= image_tag image, alt: image.filename, height: "100", weight: "100" %>
                                                                  </a>
                                                                  <% end %>
                                                            </div>
                                                            </div>
                                                      </div>
                                          <% end %>

                                          

                                    </div>
                              </div>
                        </div>
                        
                  </div>
            </div>
      </section>
      <div id="modal1" class="modal">
      <div class="modal-content">
            <h4>Thông báo</h4>
            <p>Cửa hàng hiện đang đóng cửa. Chỉ mở cửa từ <%= @restaurant.timeopen.strftime('%H:%M') %>  - <%= @restaurant.timeclose.strftime('%H:%M') %></p>
      </div>
      <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-light btn-flat" style="width: 100%; text-align: center">Đặt hàng trước để giao hàng vào hôm sau</a>
      </div>
      </div>


<%= render 'layout_extends/footer' %>
<script>
      $(function(){
            if(screen.width < 1360){
                  $('#main-menu').removeClass('fixed');
            }
      })

      function showModal(){
            var currentTime = new Date();
            var openPart = new Date('<%= @restaurant.timeopen %>');
            var closePart = new Date('<%= @restaurant.timeclose %>');  
            console.log(currentTime.getHours() < openPart.getHours())   
            if((currentTime.getHours() < openPart.getHours() && currentTime.getMinutes() < openPart.getMinutes()) || (currentTime.getHours() > closePart.getHours() && currentTime.getMinutes() > closePart.getMinutes())){
                  $('.modal').modal('open');
                  // console.log("true");
            }
            
            
      }

      $(window).resize(function(){
             if(screen.width < 1360){
                  $('#main-menu').removeClass('fixed');
             }
      })
</script>
</body>