
                                                <tr>
                                                      <td><%= order.buyer.username%></td>
                                                      <td><%= number_to_currency_vnd(order.total)%></td>
                                                      <td><%= order.note %></td>
                                                      <td>
                                                            <div class="card">
                                                                  <div class="card-content">
                                                                        <span class="activator grey-text text-darken-4">Đơn hàng #<%= order.id %><i class="material-icons right">more_vert</i></span>
                                                                  </div>
                                                                  <div class="card-reveal">
                                                                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                                                                        <% order.line_items.each do |item|%>
                                                                              <p><%= item.product.name %> x <%= item.quantity %></p>
                                                                        <% end %>
                                                                  </div>
                                                            </div>
                                                                         
                                                      </td>
                                                      <td style="text-align: center;">
                                                            <% if order.order_type.id == 4 %>
                                                                  <p class="badge red" style="color: white"><%= order.order_type.name%></p>
                                                            <% elsif order.order_type.id == 2%>
                                                                  <p class="badge green" style="color: white"><%= order.order_type.name%></p>
                                                            <% elsif order.order_type.id == 1%>
                                                                  <p class="badge yellow" style="color: white"><%= order.order_type.name%></p>
                                                            <% else %>
                                                                   <p class="badge blue" style="color: white"><%= order.order_type.name%></p>
                                                            <% end%>
                                                      </td>
                                                      <td style="text-align: center">
                                                            <%= link_to "<i class='material-icons pull-left'>send</i>".html_safe,  orders_change_status_path(order), method: :post %>
                                                            <%= link_to " <i class='material-icons pull-right'>delete_forever</i>".html_safe, order_change_status_destroy_path(order), method: :post, data: {confirm: "Bạn chắc chắn chứ?"} %>
                                                           
                                                      </td>
                                                </tr>
