<% @products.each do |product| %>
                                                            <tr>
                                                                  <td><%= product.id %></td>
                                                                  <td><%= product.name %></td>
                                                                  <td><%= product.description %></td>
                                                                  <td><%= number_to_currency_vnd(product.price) %></td>
                                                                  <td><%=image_tag product.image, class: "responsive-img", style: "height: 100px; width: 300px" %></td>
                                                                  <td><%= product.product_type.name %></td>
                                                                  <td>
                                                                         <%= link_to "<i class='material-icons pull-left'>edit</i>".html_safe, products_sua_path(product), target: "_blank" %>
                                                                        <%= link_to " <i class='material-icons pull-right'>delete_forever</i>".html_safe, product_destroy_path(product), method: :delete, data: {confirm: "Bạn chắc chắn chứ?"} %>
                                                                  </td>
                                                            </tr>
                                                      <% end %>