                  <aside id="left-sidebar-nav">
                        <ul id="slide-out" class="side-nav fixed leftside-navigation">
                              <li class="user-details cyan darken-2">
                                    <div class="row">
                                          <div class="col col s4 m4 l4">
                                                <%= image_tag 'avatar-7.png', class: "circle responsive-img valign profile-image cyan"%>
                                          </div>
                                          <div class="col col s8 m8 l8">
                                                <ul id="profile-dropdown-nav" class="dropdown-content">
                                                      <li>
                                                            <%= link_to "<i class='material-icons'>keyboard_tab</i>Đăng xuất".html_safe, logout_path,class: "grey-text text-darken-1", method: :delete%>
                                                      </li>
                                                </ul>
                                                <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown-nav"><%= current_user.restaurant.name %>
                                                      <i class="mdi-navigation-arrow-drop-down right"></i>
                                                </a>
                                                <p class="user-roal">Administrator</p>
                                          </div>
                                    </div>
                              </li>
                              <li class="no-padding">
                                    <ul class="collapsible" data-collapsible="accordion">
                                          <li class="bold">
                                                <%= link_to admin_res_path, class: "waves-effect waves-cyan", method: :get do %>
                                                       <i class="material-icons">pie_chart_outlined</i>
                                                      <span class="nav-text">Dashboard</span>
                                                <% end %>
                                          </li>
                                          <li class="bold">
                                                <%= link_to '<i class="material-icons">local_convenience_store</i>
                                                      <span class="nav-text">Quản lý cửa hàng</span>'.html_safe, admin_res_edit_path(current_user.restaurant), method: :get, class: "waves-effect waves-cyan"%>
                                          </li>
                                          <li class="bold">
                                                <%= link_to admin_res_danh_sach_don_hang_path,class: "waves-effect waves-cyan", method: :get do %>
                                                      <i class="material-icons">reorder</i>
                                                      <span class="nav-text">Quản lý đơn hàng</span>
                                                <% end %>
                                          </li>
                                          <li class="bold">
                                                <%= link_to admin_res_danh_sach_mon_an_path, class: "waves-effect waves-cyan", method: :get do %>
                                                      <i class="material-icons">local_dining</i>
                                                      <span class="nav-text">Quản lý Sản phẩm</span>
                                                <% end %>
                                          </li>
                                          <li class="bold">
                                                <%= link_to  admin_res_thong_ke_doanh_thu_path,class: "waves-effect waves-cyan", method: :get do %>
                                                      <i class="material-icons">insert_chart</i>
                                                      <span class="nav-text">Thông kê thu nhập</span>
                                                <% end %>
                                          </li>
                                            <li class="bold">
                                                <a class="collapsible-header waves-effect waves-cyan">
                                                      <i class="material-icons">insert_chart</i>
                                                      <span class="nav-test">Thống kê đơn hàng</span>
                                                </a>
                                                <div class="collapsible-body" style="display: none;">
                                                      <ul>
                                                            <li>
                                                                  
                                                                  <%= link_to admin_res_thong_ke_don_hang_ngay_path, method: :get do %>
                                                                        <i class="material-icons">date_range</i>Theo ngày
                                                                  <% end %>
                                                            </li>
                                                            <li>
                                                                  
                                                                  <%= link_to admin_res_thong_ke_don_hang_thang_path, method: :get do %>
                                                                        <i class="material-icons">date_range</i>Theo tháng
                                                                  <% end %>
                                                            </li>
                                                            <li>
                                                                  
                                                                  <%= link_to admin_res_thong_ke_don_hang_nam_path, method: :get do %>
                                                                        <i class="material-icons">date_range</i>Theo năm
                                                                  <% end %>
                                                            </li>
                                                            <li class="bold">
                                                                  <%= link_to logout_path, method: :delete ,class: "waves-effect waves-cyan" do %>
                                                                        <i class="material-icons">exit_to_app</i>
                                                                        <span class="nav-text">Đăng xuất</span>
                                                                  <% end %>
                                                            </li>
                                                      </ul>
                                                </div>
                                          </li>
                                    </ul>
                              </li>
                        </ul>
                        <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only">
                              <i class="material-icons">menu</i>
                        </a>
                  </aside>