 <%# <meta http-equiv="Refresh" content="30"> %>
 <!-- Start Page Loading -->
      <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
      </div>
      <!-- End Page Loading -->
      <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START HEADER -->
     <%= render 'header' %>
      <!-- END HEADER -->
      <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START MAIN -->
      <div id="main">
            <!-- START WRAPPER -->
            <div class="wrapper">
                  <!-- START LEFT SIDEBAR NAV-->
                  <%= render 'sidebar' %>
                  <!-- END LEFT SIDEBAR NAV-->
                  <!-- //////////////////////////////////////////////////////////////////////////// -->
                  <!-- START CONTENT -->
                  <section id="content">
                        <!--start container-->
                        <div class="container">
                              <!--card stats start-->
                              <div class="row">
                                    <div class="col s4">
                                          <h4>Danh sách đơn hàng</h4>
                                    </div>

                              </div>
                              <div class="row">
                                    <div class="col s4">
                                         <a class='dropdown-button btn' data-activates='status'>Sắp xếp</a>

                                          <!-- Dropdown Structure -->
                                          <ul id='status' class='dropdown-content'>
                                                <li><%= link_to "Tất cả", admin_res_danh_sach_don_hang_path(), remote: true, data: {disable_with: "Loading...."} %></li>
                                                <li><%= link_to "Chưa xác nhận", admin_res_danh_sach_don_hang_path(:uncheck => ''), remote: true, data: {disable_with: "Loading...."} %></li>
                                                <li><%= link_to "Xác nhận", admin_res_danh_sach_don_hang_path(:check => ''), remote: true, data: {disable_with: "Loading...."} %></li>
                                                <li><%= link_to "Hoàn thành", admin_res_danh_sach_don_hang_path(:complete => ''), remote: true, data: {disable_with: "Loading...."} %></li>
                                          </ul>
                                    </div>
                                    <div class="col s4">
                                          <%= form_tag admin_res_danh_sach_don_hang_path,method: :get, remote: true do |f| %> 
                                          <div class="row">
                                                
                                                <div class="input-field col s10">
                                                            <%= text_field_tag :search, params[:search] %>
                                                            <%= label_tag 'search', 'Tìm kiếm'%>
                                                      </div>
                                                      <div class="input-field col s2">
                                                       
                                                            <%= button_tag(class: "btn") do %>
                                                                  <i class="material-icons">search</i>
                                                            <%end%>
                                                      </div> 
                                                </div>
                                                
                                          </div>
                                    <% end %>
                                    </div>
                              </div>
                              <div class="row">
                                    <div class="col s12">
                                         <table class="bordered highlight centered">
                                                <thead>
                                                <tr>
                                                      <th>#</th>
                                                      <th>Tên người đặt</th>
                                                      <th>Tổng tiền</th>
                                                      <th>Ghi chú</th>
                                                      <th>Đơn hàng</th>
                                                      <th style="width: 13%">Tình trạng</th>
                                                      <th>Xác nhận</th>
                                                </tr>
                                                </thead>

                                                <tbody id="list-order">
                                                      <%= render partial: 'list_order' %>
                                                </tbody>
                                          </table>
                                        <%= paginate @orders %>
                                    </div>
                              </div>

                              <!-- //////////////////////////////////////////////////////////////////////////// -->
                        </div>
                        <!--end container-->
                  </section>
                  <!-- END CONTENT -->
                  <!-- START RIGHT SIDEBAR NAV-->

                  <!-- END RIGHT SIDEBAR NAV-->
            </div>
            <!-- END WRAPPER -->
      </div>
      <!-- END MAIN -->
      <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START FOOTER -->
      <%= render 'footer' %>

