 <%# <meta http-equiv="Refresh" content="30"> %>
 <!-- Start Page Loading -->
      <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
      </div>
      <!-- End Page Loading -->
      <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START HEADER -->
     <%= render 'header' %>
      <!-- END HEADER -->
      <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START MAIN -->
      <div id="main">
            <!-- START WRAPPER -->
            <div class="wrapper">
                  <!-- START LEFT SIDEBAR NAV-->
                  <%= render 'sidebar' %>
                  <!-- END LEFT SIDEBAR NAV-->
                  <!-- //////////////////////////////////////////////////////////////////////////// -->
                  <!-- START CONTENT -->
                  <section id="content">
                        <!--start container-->
                        <div class="container">
                              <!--card stats start-->
                              <div class="row">
                                    <div class="col s4">
                                          <h4>Danh sách đơn hàng</h4>
                                    </div>

                              </div>
                              <div class="row">
                                     <div class="col s4">
                                          <%= form_tag admin_res_danh_sach_mon_an_path,method: :get, remote: true do |f| %> 
                                          <div class="row">
                                                
                                                <div class="input-field col s10">
                                                            <%= text_field_tag :search, params[:search] %>
                                                            <%= label_tag 'search', 'Tìm kiếm'%>
                                                      </div>
                                                      <div class="input-field col s2">
                                                       
                                                            <%= button_tag(class: "btn") do %>
                                                                  <i class="material-icons">search</i>
                                                            <%end%>
                                                      </div> 
                                                </div>
                                                
                                          </div>
                                    <% end %>
                                          <div class="col s4 offset-s4">
                                          <%= link_to "Tạo thức ăn", admin_res_danh_sach_mon_an_them_san_pham_path, class: "btn", method: :get %>
                                    </div>
                                    </div>
                              </div>
                              <div class="row">
                                    <div class="col s12">
                                         <table class="bordered highlight centered">
                                                <thead>
                                                <tr>
                                                      <th>#</th>
                                                      <th>Tên</th>
                                                      <th>Mô tả</th>
                                                      <th>Giá tiền</th>
                                                      <th>Hình ảnh</th>
                                                      <th>Loại sản phẩm</th>
                                                      <th>Xác nhận</th>
                                                </tr>
                                                </thead>

                                                <tbody id="list-product">
                                                       <%= render partial: 'list_product' %>
                                                </tbody>
                                          </table>
                                          <%= paginate @products %>
                                    </div>
                              </div>

                              <!-- //////////////////////////////////////////////////////////////////////////// -->
                        </div>
                        <!--end container-->
                  </section>
                  <!-- END CONTENT -->
                  <!-- START RIGHT SIDEBAR NAV-->

                  <!-- END RIGHT SIDEBAR NAV-->
            </div>
            <!-- END WRAPPER -->
      </div>
      <!-- END MAIN -->
      <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START FOOTER -->
      <%= render 'footer' %>

