 <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
      </div>
      <!-- End Page Loading -->
      <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START HEADER -->
     <%= render 'admin_restaurants/header' %>
      <!-- END HEADER -->
      <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START MAIN -->
      <main>
      <div id="main">
            <!-- START WRAPPER -->
            <div class="wrapper">
                  <!-- START LEFT SIDEBAR NAV-->
                  <%= render 'admin_restaurants/sidebar' %>
                  <!-- END LEFT SIDEBAR NAV-->
                  <!-- //////////////////////////////////////////////////////////////////////////// -->
                  <!-- START CONTENT -->
                  <section id="content">
                        <!--start container-->
                        <div class="container" style="width: 80%">
                              <!--card stats start-->
                              <div class="row">
                                    <div class="col s4">
                                          <h4>Thêm sản phẩm</h4>
                                    </div>

                              </div>
                              <div class="row">
                  <%= form_for :product do |f| %>
                        <%= render 'layout_extends/error', object: @product %>
                        
                        <div class="row">
                                          <div class="input-field col s12">
                                                <%= f.text_field :name, class: 'validate', :required => true, aria: {require: true}, oninvalid: "this.setCustomValidity('Nhập tên ở đây')", oninput: "this.setCustomValidity('')" %>
                                                <%= f.label :name, "Tên(*)", data: {error: "Vui lòng kiểm tra lại"} %>
                                          </div>
                                    </div>
                        <div class="row">
                                          <div class="input-field col s12">
                                                <%= f.text_field :description %>
                                                <%= f.label :description, "Miêu tả" %>
                                          </div>
                                    </div>

                              <div class="row">
                                          <div class="input-field col s12">
                                                <%= f.number_field :price, class: 'validate', :required => true, aria: {require: true}, oninvalid: "this.setCustomValidity('Nhập tên ở đây')", oninput: "this.setCustomValidity('')" %>
                                                <%= f.label :price, "Giá(*)", data: {error: "Vui lòng kiểm tra lại"} %>
                                          </div>
                                    </div>
                                    
                        
                                                <div class="row">
                                                      <div class="input-field col s12">

                                                            <%= f.collection_select :product_type_id, ProductType.all, :id, :name,  {prompt: "Chọn loại thức ăn"} %>
                                                      </div>
                                                </div>

                                                <div class="row">
                                                      <div class="file-field input-field">
                                                            <div class="btn">
                                                                  <span>Hình đại diện(*)</span>
                                                                  <%= f.file_field :image, :onchange => 'previewFile()'%>
                                                            </div>
                                                            <div class="file-path-wrapper">
                                                                  <input class="file-path validate" type="text" >
                                                            </div>
                                                      </div>
                                                </div>
                                          <img src="" id="preview-image">
                                          <div class="row">
                                          <%= f.submit  "Xác nhận", class: "btn waves-effect waves-light", style: "float: right"%>
                                          </div>

                              <% end %>
                              <br />
                        </div>
                  </div>
             </section>
                  <!-- END CONTENT -->
                  <!-- START RIGHT SIDEBAR NAV-->

                  <!-- END RIGHT SIDEBAR NAV-->
            </div>
            <!-- END WRAPPER -->
      </div>
      <!-- END MAIN -->
      <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START FOOTER -->
      </main>
      <%= render 'admin_restaurants/footer' %>
<script>
     function previewFile() {
            var preview = document.getElementById('preview-image');
            var file    = document.querySelector('input[type=file]').files[0];
            var reader  = new FileReader();

            reader.addEventListener("load", function () {
            preview.height = '100';
            preview.src = reader.result;
            $('#preview-image').click(function(){
                  console.log(this);
            })
            }, false);

            if (file) {
            reader.readAsDataURL(file);
            }
      }
</script>