<li class="collection-item">
            <div class="row">
                  <div class="col s4 center-align">
                        <%= link_to "<i class='material-icons'>remove_circle</i>".html_safe, line_item_reduce_path(:id => item), method: :post, remote: true %>
                                                                  
                         <span><%= item.quantity %></span>
                         <%= link_to "<i class='material-icons'>add_circle</i>".html_safe, line_item_add_path(:id => item), method: :post, remote: true %>
                                                            
                  </div>
                  <div class="col s4">
                              <span><%= item.product.name %></span>
                  </div>
                   <div class="col s4">
                              <span><%= number_to_currency_vnd(item.total_price) %></span>
                  </div>
            </div>
      </li>