<!DOCTYPE html>
<html>
  <head>
    <title>Cần Thơ Food</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
     <% begin %>
            <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
            <%= stylesheet_link_tag 'application', 'data-turbolinks-track' => 'reload', media: 'all' %>
            <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>

      <% rescue %>
            <script>
            window.location.replace "#{user_session_url()}"
            </script>
      <% end %>
  
      <script>
            $(document).ready(function () {
                  $('.dropdown-button').dropdown();
                  $(".button-collapse").sideNav();
                  $('select').material_select();
                  $(".lightgallery").lightGallery();
                   $('.timepicker').pickatime({
                        default: 'now', // Set default time: 'now', '1:30AM', '16:30'
                        fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
                        twelvehour: false, // Use AM/PM or 24-hour format
                        donetext: 'OK', // text for done-button
                        cleartext: 'Clear', // text for clear-button
                        canceltext: 'Cancel', // Text for cancel-button,
                        container: undefined, // ex. 'body' will append picker to body
                        autoclose: false, // automatic close timepicker
                        ampmclickable: true, // make AM PM clickable
                        aftershow: function(){} //Function for after opening timepicker
                  });

          

                          setTimeout(function(){
                              $('#flash').hide('blind');
                        }, 2000);

                   
            });
      </script>
     
  </head>

  <body>    
     <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>" id="flash"><%= message %></div>
       <% end %>
    <%= yield %>
   
  </body>
</html>
